/*фикс ширина у маленьких картинок*/
.anita__dongre_inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.ready__to_ship,
.december {
    text-align: center;
    position: relative;
}

.name {
    margin-top: 450px;
    max-width: 200px;
    white-space: nowrap;
    transform: rotate(-90deg);
    color: rgba(211, 145, 89, 0.25);
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .name {
        margin-top: 330px;
        font-size: 50px;
    }
}

.main__img {
    position: relative;
    z-index: 6;
}

.secondary__img {
    width: 170px;
    height: 227px;
    position: absolute;
    top: 0;
    z-index: 8;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .secondary__img {
        width: 150px;
        height: 207px;
    }
}

.img3 {
    left: 0;
}

.img12 {
    right: 0;
}

.title {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .title {
        font-weight: 600;
        font-size: 50px;
    }
}

.text {
    border-top: 5px solid #5D3617;
    padding-top: 10px;
}

.zoom__photo {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 6;
    transition: 1s ease;
}

.reduce__foto {
    max-width: 170px;
    height: 227px;
    position: absolute;
    top: 0;
    z-index: 8;
    transition: 0.5s ease;
}

@media (max-width: 1199px) {
    .reduce__foto {
        width: 150px;
        height: 207px;
    }
}

.img123 {
    padding-left: 150px;
}