.category__popup {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 20px;
}

.popup__image1,
.popup__image2,
.popup__image3,
.popup__image4 {
    position: relative;
    overflow: hidden;
}

.popup__text1,
.popup__text2,
.popup__text3,
.popup__text4 {
    position: absolute;
    bottom: 93px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
    color: #FFF;
    font-size: 50px;
    white-space: nowrap;
}