.category {
    text-align: center;
}

.category__title {
    color: #000;
    /* font */
    font-family: 'SF Pro';
    font-size: 20px;
    font-weight: 590;
    text-decoration-line: underline;
    margin-bottom: 24px;
}

.category__text {
    color: #693621;
    font-family: 'SF Pro';
    font-size: 50px;
    font-weight: 700;
    padding-left: 160px;
    padding-right: 160px;
}

.text__wear {
    color: rgba(105, 54, 33, 0.60);
    font-family: 'SF Pro';
    font-size: 20px;
    font-weight: 590;
}

.caetgory__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.category__btn_prev {
    background-image: url(../resourses/shopByCategory/prev.png);
    width: 96px;
    height: 22px;
}

.category__btn_next {
    background-image: url(../resourses/shopByCategory/next.png);
    width: 96px;
    height: 22px;
    background-color: #fff;
}