.crafts__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 620px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.crafts__title {
    transform: rotate(-90deg);
    font-size: 70px;
    font-weight: 600;
    text-align: left;
    padding-top: 200px;
}

.crafts__decor {
    max-width: 205px;
    text-align: left;
    position: absolute;
    bottom: -10px;
}

.crafts__text {
    max-width: 348px;
    text-align: right;
    position: absolute;
    bottom: 50px;
    left: 155px;
}

.crafts__inner {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.crafts__image {
    max-width: 743px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.craft__image {
    position: relative;
    z-index: 6;
}

.craft__img_dec {
    max-width: 392px;
    height: 323px;
    position: absolute;
    z-index: 3;
    bottom: 300px;
    left: -20px;
}

.crafts__button {
    position: absolute;
    bottom: 34px;
    right: 31px;
    z-index: 7;
}

@media (max-width: 1199px) {
    .crafts__text {
        max-width: 348px;
        bottom: 90px;
        left: 105px;
    }

    .crafts__title {
        font-size: 60px;
        font-weight: 500;
        padding-top: 100px;
    }

    .crafts__image {
        max-width: 643px;
        height: 424px;
    }

    .crafts__wrapper {
        margin-bottom: 0px;
        height: 547px;
    }

    .crafts__decor {
        bottom: 25px;
    }

    .craft__img_dec {
        max-width: 342px;
        height: 283px;
        top: -25px;
    }

    @media (max-width: 1000px) {
        .crafts__text {
            max-width: 348px;
            bottom: 70px;
            left: 60px;
            font-size: 16px;
        }

        .crafts__title {
            font-size: 40px;
            font-weight: 500;
            padding-top: 100px;
        }

        .crafts__decor {
            bottom: 15px;
            max-width: 150px;
        }

        .crafts__button {
            bottom: 115px;
        }

        .crafts__wrapper {
            height: 450px;
        }
    }

    @media (max-width: 768px) {
        .crafts__wrapper {
            height: 384px;
            margin-top: 25px;
        }

        .crafts__text,
        .crafts__dec {
            display: none;
        }

        .crafts__image {
            height: 440px;
            width: 90%;
            flex-direction: row;
        }

        .craft__image {
            left: 0;
            top: 20px;
            object-position: 50% 50%;
            object-fit: cover;
        }

        .craft__img_dec {
            left: -20px;
            top: -3px;
            max-width: 388px;
            height: 243px;
        }

        .crafts__title {
            font-size: 50px;
            padding-top: 25px;
            transform: rotate(0deg);
            position: absolute;
            top: -160px;
            white-space: nowrap;
        }

        .crafts__inner {
            left: 24px;
            bottom: -100px;
        }

        .crafts__button {
            right: 0;
            bottom: 0;
        }
    }

    @media (max-width: 480px) {
        .crafts__title {
            font-size: 30px;
        }
    }
}