.crafts__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 620px;
    justify-content: space-between;
}

.crafts__title {
    box-sizing: border-box;
    transform: rotate(-90deg);
    color: #5D3617;
    font-family: 'SF Pro';
    font-size: 65px;
    font-weight: 700;
    /* margin-top: 80px; */
    text-align: left;
    padding-top: 235px;

}

.crafts__decor {
    width: 205px;
    height: 131px;
    text-align: left;
    position: relative;
    padding-top: 108px;
}

.crafts__text {
    width: 338px;
    color: rgba(105, 54, 33, 0.50);
    text-align: right;
    font-family: 'SF Pro';
    font-size: 20px;
    font-weight: 590;
    position: absolute;
    padding-top: 420px;

}

.crafts__inner {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.crafts__image {
    width: 743px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.craft__image {
    position: relative;
    z-index: 6;
}

.craft__img_dec {
    width: 392px;
    height: 323px;
    position: relative;
    z-index: 3;
    bottom: 300px;
    left: -20px;
}

.crafts__button {
    position: absolute;
    bottom: 34px;
    right: 31px;
    z-index: 7;
}