.crafts__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 620px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.crafts__title {
    transform: rotate(-90deg);
    font-size: 70px;
    font-weight: 600;
    text-align: left;
    padding-top: 235px;
}

.crafts__decor {
    max-width: 205px;
    height: 131px;
    text-align: left;
    position: relative;
    padding-top: 108px;
}

.crafts__text {
    max-width: 338px;
    text-align: right;
    position: absolute;
    padding-top: 420px;
    left: 230px;
}

.crafts__inner {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.crafts__image {
    max-width: 743px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.craft__image {
    position: relative;
    z-index: 6;
}

.craft__img_dec {
    max-width: 392px;
    height: 323px;
    position: relative;
    z-index: 3;
    bottom: 300px;
    left: -20px;
}

.crafts__button {
    position: absolute;
    bottom: 34px;
    right: 31px;
    z-index: 7;
}