.footer__inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;

}

.container__bcolor {
    background-color: rgba(255, 227, 204, 0.50);
}

.costumer__care,
.about__us,
.categories,
.legal {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    color: var(--pColor);
    font-size: 15px;
    font-weight: 590;
    cursor: pointer;
}

li:hover {
    opacity: 0.5;
}

/* @media (max-width: 579px) {
    .footer_fool {
        max-width: 579px;
        background-color: rgba(255, 227, 204, 0.50);
    }
} */
@media (max-width: 1000px) {
    .designer__name_name {
        min-width: 160px;
    }
}

@media (max-width: 480px) {

    .costumer__care,
    .legal {
        display: none;
    }
}

/* устранить проблему с шириной бэкграунда */