.footwear__wrapper {
    padding-top: 40px;
    background-color: #e7e5e5;
    margin-bottom: 105px;
}

.footwear__inner {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
}

.footwear__img1 {
    padding-right: 181px;
}

.footwear__dots {
    position: relative;
    left: -90px;
    top: 257px;
}

.dots3 {
    width: 5px;
    height: 65px;
    background: #693621;
    cursor: pointer;
}

.footwears__btn_active {
    background: rgba(224, 152, 120, 0.5);
}

.footwear__inner_text {
    position: absolute;
    width: 400px;
    left: -200px;
    top: -250px;
    text-align: center;
}

.inner__text_title {
    color: #693621;
    font-size: 70px;
    font-weight: 600;
}

.inner__text_text {
    color: rgba(105, 54, 33, 0.60);
    font-size: 20px;
    font-weight: 590;
}

.footwear__button {
    position: absolute;
    left: 462px;
    bottom: 60px;
}