.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
}

.header__body {
    position: relative;
    display: flex;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    position: relative;
    z-index: 5;
}

.header__icons img {
    padding-left: 45px;
}

.header__icons {
    display: flex;
}

.header__list {
    list-style: none;
    margin: 0 6px;
    display: flex;
    justify-content: space-between;
}

a {
    font-family: 'Inter Tight', sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #693621;
    box-sizing: border-box;
}

a:hover {
    color: #654a3d;
}

.header_burger {
    display: none;
}

@media (max-width: 1199px) {
    a {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .icons__none {
        display: block;
        width: 0;
    }

    body.lock {
        overflow: hidden;
    }

    .header__burger {
        display: block;
        position: absolute;
        width: 40px;
        height: 20px;
        z-index: 8;
        right: 10px;
        top: 70px;
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #693621;
        position: absolute;
        width: 40px;
        height: 3px;
        transition: all 0.4s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        background-color: #693621;
        width: 25px;
        height: 3px;
        top: 8.5px;
        right: 0;
        transition: all 0.4s ease 0s;
    }

    .header__burger.active_class:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active_class:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active_class span {
        transform: scale(0);
    }

    .header__list {
        position: fixed;
        right: 0;
        top: -100%;
        width: 70%;
        height: 100%;
        background-color: #cea999;
        opacity: 1;
        padding: 130px 0 0 30px;
        transition: all 0.4s ease-in-out 0.2s;
        display: block;
        overflow: auto;
    }

    .header__list.active_class {
        top: 0;
    }

    .header__list_size {
        font-size: 28px;
        line-height: 35px;
    }

    .header__nav {
        position: relative;
        z-index: 2;
    }

    .header__body {
        overflow: hidden;
        position: relative;
        z-index: 8;
    }

    .header__icons img {
        padding-left: 15px;
    }
}

@media (max-width: 1199px) {}

@media (max-width: 1000px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}