.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__items img {
    display: flex;
    padding-left: 45px;
}

.header__items {
    display: flex;
}

.header__nav {
    list-style: none;
    margin: 0 6px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

a {
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #693621;
    box-sizing: border-box;
}

a:hover {
    color: #aa8878;
}