.luxury {
    box-sizing: border-box;
    display: flex;
    height: 420px;
    justify-content: space-between;
}

.luxury__wrapper,
.luxury__img {
    display: flex;
    flex-direction: column;
}

.luxury__dresses_img {
    position: relative;
    width: 100%;
    z-index: 2;
}

.luxury__brown_box {
    width: 221px;
    height: 184px;
    position: relative;
    top: -164px;
    left: -21px;
    z-index: 1;
}

.luxury__img {
    padding-right: 25px;
}

.luxury__title {
    color: #693621;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 33px;
    padding-top: 17px;
}

.luxury__text {
    color: rgba(105, 54, 33, 0.60);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 54px;

}

.btn {
    padding: 7px 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: #693621;
    cursor: pointer;
    border: 3px solid #693621;
}

.btn:hover {
    color: #693621;
    background: rgb(255, 255, 255);
}