@import url(../style/anita-dongre.css);
@import url(../style/category.css);
@import url(../style/crafts-of-india.css);
@import url(../style/footer.css);
@import url(../style/footwear.css);
@import url(../style/header.css);
@import url(../style/jewellry.css);
@import url(../style/luxury.css);
@import url(../style/menswear.css);
@import url(../style/wedding.css);
@import url(../style/slider.css);

@font-face {
    font-family: SF pro;
    src: url(../fonts/SF-Pro-Display-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SF Pro;
    src: url(../fonts/SFProDisplay-Thin.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: SF Pro;
    src: url(../fonts/SFProDisplay-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SF Pro;
    src: url(../fonts/SFProDisplay-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SF Pro;
    src: url(../fonts/SFProDisplay-Semibold.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: SF Pro;
    src: url(../fonts/SF-Pro-Display-Black.otf);
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: SF Pro, Inter;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0px 50px 40px;
}

@media (max-width: 1199px) {
    .container {
        width: 1000px;
        padding: 0 30px 40px;
        box-sizing: border-box;
    }

    h2 {
        font-weight: 500;
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 768px;
        padding: 10px 10px 20px;

    }
}

@media (max-width: 768px) {
    .container {
        width: 580px;
        padding: 10px 10px 20px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px 10px 20px;
    }

    .btn {
        padding: 5px 30px;
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 16px;
    }
}

.container__absolute {
    position: relative;
}

h2 {
    color: #693621;
    font-family: SF Pro;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 768px) {
    h2 {
        font-weight: 400;
        font-size: 16px;
    }
}

p {
    color: rgba(105, 54, 33, 0.50);
    font-family: SF Pro;
    font-size: 20px;
    font-weight: 590;
}



/* @media (max-width: 767px) {
    p {
        font-size: 15px;
    }
} */

h3 {
    color: #5D3617;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 18px;
}