@font-face {
    font-family: SF-pro;
    src: url(../fonts/SF-Pro-Display-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SF-Pro;
    src: url(../fonts/SFProDisplay-Thin.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: SF-Pro;
    src: url(../fonts/SFProDisplay-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SF-Pro;
    src: url(../fonts/SFProDisplay-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SF-Pro;
    src: url(../fonts/SFProDisplay-Semibold.otf);
    font-weight: 600;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: SF-Pro;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 40px;
}