.menswear__img {
    position: relative;
}

.menswear__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 32px;
}

.menswear__decor {
    position: relative;
    bottom: 155px;
    padding-left: 17.5px;
}

.menswear__inner {
    text-align: right;
    padding-right: 40px;
}

.menswear__title {
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 83px;
}

.menswear__text {
    color: #000;
    font-size: 20px;
    font-weight: 590;
    padding-bottom: 92px;
}

/* стили слайдера */
.menswear__slider {
    min-width: 0;
}

.menswear__slider .slick-list {
    overflow: hidden;
}

.menswear__slider .slick-dots {
    position: absolute;
    bottom: 86px;
    left: 545px;
}

.menswear__slider .slick-dots li {
    list-style: none;
}

.menswear__slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #693621;
    cursor: pointer;
}

.menswear__slider .slick-dots li.slick-active button {
    background-color: #c28369;
}

.menswear__slider .slick-track {
    display: block;
}

.menswear__slider_item {
    height: 623px;
    padding-top: 3px;
}