.menswear__img {
    position: relative;
}

.menswear__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menswear__decor {
    position: relative;
    bottom: 155px;
    padding-left: 17.5px;
    max-width: 10%;
}

.menswear__inner {
    text-align: right;
    padding-right: 40px;
}

.menswear__inner_title {
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 83px;
}

.menswear__inner_text {
    color: #000;
    font-size: 20px;
    font-weight: 590;
    padding-bottom: 92px;
}

/* стили слайдера */
.menswear__slider {
    min-width: 0;
}

.menswear__slider .slick-list {
    overflow: hidden;
}

.menswear__slider .slick-dots {
    position: absolute;
    bottom: 86px;
    left: 545px;
}

.menswear__slider .slick-dots li {
    list-style: none;
}

.menswear__slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #693621;
    cursor: pointer;
    margin: 20px;
}

.menswear__slider .slick-dots li.slick-active button {
    background-color: #c28369;
}

.menswear__slider .slick-track {
    display: block;
}

.menswear__slider_item {
    height: 623px;
    padding-top: 3px;
}

@media (max-width: 1199px) {
    .menswear__inner_title {
        font-size: 60px;
    }

    .menswear__slider .slick-dots {
        bottom: 86px;
        left: 465px;
    }
}

@media (max-width: 1000px) {
    .menswear__inner_text {
        display: none;
    }

    .menswear__slider_item {
        height: 423px;
    }

    .menswear__decor {
        bottom: 40px;
    }

    .menswear__slider .slick-dots {
        left: 323px;
    }

    .menswear__inner_title {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {

    .menswear__decor,
    .menswear__inner_text {
        display: none;
    }

    element.style {
        width: 310px;
    }

    .menswear__slider_item {
        height: 400px;
        margin-top: 100px;

    }

    .menswear__inner {
        position: relative;
    }

    .menswear__inner_title {
        padding-left: 15px;
        font-size: 40px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menswear__inner_button {
        position: absolute;
        bottom: 0;
        right: 10px;
    }

    .menswear__slider .slick-dots {
        left: 275px;
        bottom: 190px;
    }

    .menswear__slider {
        max-width: 280px;
    }

    .menswear__slider_i .menswear__button {
        position: relative;
        bottom: -130px;
    }
}

@media (max-width: 480px) {
    .menswear__inner_title {
        padding-top: 0;
    }

    .menswear__slider .slick-dots button {
        margin: 5px;
    }

    .menswear__slider .slick-dots {
        left: 285px;
    }
}

@media (max-width: 330px) {
    .menswear__slider .slick-dots {
        left: 265px;
    }
}