/* Ограничевающая оболочка 
.slick-list {}

Лента слайдов 
.slick-track {}

Слайдер
.slick-slider {}

Слайд
.slick-slide {}

Активный слайд
.slick-slide.slick-active {}

Основной слайд 
.slick-slide.slick-current {}

Слайд по центру 
.slick-slide.slick-center {}

Стрелка
.slick-arrow {}

Стрелка влево
.slick-arrow.slick-prev {}

Стрелка вправо
.slick-arrow.slick-next {}footwear__button

Стрелка не активна
.slick-arrow.slick-disabled {}

Точки 
.slick-dots {}

.slick-dots li {}

.slick-dots button {} */

/* Первый слайдер */
.slider .slick-list {
    overflow: hidden;
}

.slider .slick-track {
    display: flex;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0px 110px 0;
}

.slider__item {
    position: relative;
}

.slider__item_inner {
    position: absolute;
    z-index: 2
}

.slider__item_inner.item_title1 {
    top: 34px;
    right: 30px;
    color: #FFEFE0;
    font-size: 50px;
}

.slider__item_inner.item_text1 {
    bottom: 20px;
    left: 30%;
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    text-decoration-line: underline;
}

.slider__item_inner.item_title2 {
    top: 30px;
    right: 30px;
    text-align: right;
    font-family: Inter;
    font-size: 50px;
}

.slider__item_inner.item_text2 {
    padding-left: 20px;
    bottom: 20px;
    color: #381304;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
}

.slider__item_inner.item_title3 {
    box-sizing: border-box;
    bottom: 150px;
    left: 460px;
    color: #FFF;
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
}

.title_bold {
    font-weight: 700;
}

.slider__item_inner.item_btn {
    display: inline;
    left: 580px;
    white-space: nowrap;
    padding: 10px 39px;
    bottom: 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    border-radius: 50px;
    border: 2px solid #FFF;
    background-color: rgba(28, 28, 28, 0);
    cursor: pointer;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    z-index: 7;
    font-size: 0;
    min-width: 50px;
    height: 50px;
    align-items: center;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../resourses/Photo-container/arrow-next50.png) 0 0 no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../resourses/Photo-container/arrow-next50.png) 0 0 no-repeat;
    cursor: pointer;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 20px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #693621;
    cursor: pointer;
}

.slider .slick-dots li.slick-active button {
    background-color: #c28369;
}

.slider__item img {
    object-fit: cover;
    overflow: hidden;
    height: 400px;
}

.slider__item_position {
    object-position: 0% 60%;
}

.slider__item_position2 {
    object-position: 30% 60%;
}

@media (max-width: 1199px) {
    .slider {
        padding: 0px 70px 0px;
    }

    .slider__item_inner.item_title1 {
        top: 34px;
        right: 30px;
        font-size: 45px;
    }

    .slider__item_inner.item_text1 {
        font-size: 25px;
        font-weight: 400;
    }

    .slider__item_inner.item_title2 {
        font-size: 40px;
    }

    .slider__item_inner.item_text2 {
        font-size: 24px;
        font-weight: 400;
    }

    .slider__item_inner.item_title3 {
        left: 400px;
        font-size: 44px;
        font-weight: 400;
    }

    .slider__item_inner.item_btn {
        left: 540px;
        font-size: 20px;
        font-weight: 400;
    }
}

@media (max-width: 1000px) {
    .slider {
        padding: 0px 60px 0px;
    }

    .slider__item_inner.item_title1 {
        top: 24px;
        right: 30px;
        font-size: 40px;
    }

    .slider__item_inner.item_text1 {
        font-size: 25px;
        font-weight: 400;
    }

    .slider__item_inner.item_title2 {
        font-size: 34px;
    }

    .slider__item_inner.item_text2 {
        font-size: 20px;
        font-weight: 400;
    }

    .slider__item_inner.item_title3 {
        left: 320px;
        font-size: 34px;
        font-weight: 400;
    }

    .slider__item_inner.item_btn {
        left: 420px;
        font-size: 16px;
        font-weight: 400;
    }

    .slider .slick-dots li {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .slider {
        padding: 105px 0px 0px;
    }

    .slider__item_inner.item_title1,
    .slider__item_inner.item_title2,
    .slider__item_inner.item_title3 {
        font-size: 30px;
    }

    .slider__item_inner.item_title1 {
        right: 20px;
    }

    .slider__item_inner.item_text1 {
        display: none;
    }

    .slider .slick-arrow {
        top: 60%;
        border: 2px solid white;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .slider__item_inner.item_btn {
        left: 300px;
        bottom: 20px;
    }
}

@media (max-width: 480px) {
    .slider {
        padding: 0px 0px 0px;
    }

    .slider__item_inner.item_title1,
    .slider__item_inner.item_title2 {
        right: 10px;
    }

    .slider__item_inner.item_title3 {
        left: 60vw;
    }

    .slider__item_inner.item_btn {
        left: 40vw;
    }
}