.wedding__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 50px;
}

.wedding__title {
    color: #5D3617;
    font-size: 70px;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 450px;
    min-width: 260px;
    transition-duration: 1s;
}

.wedding__text {
    padding-left: 20px;
    padding-bottom: 151px;
    height: 48px;
}

.wedding__button {
    position: absolute;
    padding-left: 33px;
}

.wedding__image {
    position: relative;
    display: flex;
    height: 413px;
    margin-left: 220px;
    transition-duration: 1s;
}

.wedding__decor {
    position: relative;
    width: 146px;
    height: 176px;
    top: 123px;
    z-index: 6;
    left: -50px;
}

.wedding__img1 {
    position: relative;
    z-index: 7;
}

.wedding__img2 {
    position: relative;
    left: -50px;
}