.wedding__wrapper {
    display: flex;
    padding-top: 105px;
    padding-bottom: 51px;
    justify-content: space-between;
    position: relative;
}

.wedding__title {
    color: #5D3617;
    font-family: 'SF Pro';
    font-size: 70px;
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 20px;
}

.wedding__text {
    color: rgba(105, 54, 33, 0.50);
    font-family: 'SF Pro';
    font-size: 20px;
    font-weight: 590;
    padding-left: 20px;
    padding-bottom: 181px;
}

.wedding__button {
    padding-left: 63px;
}

.wedding__img {
    left: 700px;
    position: absolute;
    z-index: 7;
}

.wedding__decor {
    position: relative;
    top: 123px;
    z-index: 6;
}